h1{
  font-weight: 700;
  margin: 20px;
  text-align: center;
}
input{
  width: 80%;
}
.container{
  text-align: left;
}
.todo-container{
  text-align: left;
  margin: 4px 100px;
}

button{
 min-width:110px;
 font-size: 40px;
  
}
.m-row{
  margin: 10px 5px;
}
