h1{
  font-weight: 700;
  margin: 20px;
  text-align: center;
}
input{
  width: 80%;

}
.container{
  text-align: left;

}
.todo-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 20px auto;
   min-width: 600px;
   width: 600px;
   background-color: bisque;

}

button{
 min-width:110px;
 font-size: 40px;
 margin: 5px 5px;
  
}
.m-row{
width: 80%;
margin: 10px;
text-align: center;

}


